n8n_anketa_webhook.json
{
  "name": "Anketa Form Handler",
  "nodes": [
    {
      "parameters": {
        "path": "anketa-submit",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst text = ['🆕 Новая заявка с анкеты', '', `ФИО: ${body['ФИО'] || ''}`, `Профессия: ${body['Профессия'] || ''}`, `Ключевые навыки: ${body['Ключевые навыки'] || ''}`, `Опыт работы: ${body['Опыт работы'] || ''}`, `Телефон: ${body['Телефон'] || ''}`, `Email: ${body['Email'] || ''}`, `Фото или портфолио: ${body['Фото или портфолио'] || ''}`, `Тема дизайна: ${body['Тема дизайна'] || ''}`].join('\\n');\nreturn [{ json: { body, telegramText: text, emailSubject: `Новая заявка: ${body['ФИО'] || 'без имени'}`, emailText: text } }];"
      },
      "id": "Prepare",
      "name": "Prepare Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "1406941545",
        "text": "={{$json.telegramText}}",
        "additionalFields": {
          "disableNotification": false
        }
      },
      "id": "Telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        680,
        180
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential",
          "name": "Telegram @my_LandingStudioBot"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "hermesdzarvis@gmail.com",
        "toEmail": "iliamih09@gmail.com",
        "subject": "={{$json.emailSubject}}",
        "text": "={{$json.emailText}}",
        "options": {}
      },
      "id": "Email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        680,
        420
      ],
      "credentials": {
        "smtp": {
          "id": "LgCGPSTLARNlPIxM",
          "name": "Gmail SMTP OWL"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={\\\"ok\\\":true}",
        "options": {}
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        {
          "node": "Prepare Submission",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Prepare Submission": {
      "main": [
        {
          "node": "Send Telegram",
          "type": "main",
          "index": 0
        },
        {
          "node": "Send Email",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send Telegram": {
      "main": [
        {
          "node": "Respond",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Send Email": {
      "main": [
        {
          "node": "Respond",
          "type": "main",
          "index": 0
        }
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}